<!-- filepath: c:\New folder\peminjaman-barang-projek\views\layout.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container">
      <a class="navbar-brand" href="/">Inventaris</a>
      <div>
        <a class="nav-link d-inline" href="/">Home</a>
        <a class="nav-link d-inline" href="/loans">Peminjaman</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <% if (messages && messages.length) { %>
      <% messages.forEach(m => { %>
        <div class="alert alert-<%= m.type %>"><%= m.text %></div>
      <% }) %>
    <% } %>
    <%- body %>
  </div>
</body>
</html>